#container {
  width: 100%;
  min-width: 1300px;
}

/* Header */
#header-container {
  width: 100%;
  padding: 20px 0;
  border-top: 0.5px solid #dddddd;
  border-bottom: 0.5px solid #dddddd;
  position: relative;
}
#header-container .wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-container .wrapper .logo-wrap {
  width: 148px;
}
#header-container .wrapper .logo-wrap img {
  cursor: pointer;
  width: 100%;
}
#header-container .wrapper .menu-container {
  width: calc(100% - 269px);
  padding-left: 78px;
}
#header-container .wrapper .menu {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: -0.01em;
  color: #555555;
  margin-right: 40px;
}
#header-container .wrapper .side-wrap {
  width: 132px;
  text-align: right;
}
#header-container .wrapper .side-wrap .login,
#header-container .wrapper .side-wrap .register {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #999999;
}
#header-container .wrapper .side-wrap span {
  font-weight: 800;
  font-size: 11px;
  color: #999999;
  position: relative;
  bottom: 2px;
  margin: 0 11px;
}

#header-container .wrapper .login-side-wrap {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
}

#header-container .wrapper .alarm {
  width: 30px;
  height: 26px;
  cursor: pointer;
}

#header-container .wrapper .alarm-box {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  width: 430px;
  background: #ffffff;
  position: absolute;
  top: 74px;
  right: 5%;
  z-index: 10;
}

#header-container .wrapper .onAlm {
  display: block;
  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s; /* Firefox */
  -webkit-animation: fadein 1.5s; /* Safari and Chrome */
  -o-animation: fadein 1.5s; /* Opera */
}

#header-container .wrapper .offAlm {
  display: none;
}

#header-container .wrapper .alarm-box > div {
  padding: 25px 30px;
  box-sizing: border-box;
}
#header-container .wrapper .alarm-box > div {
  border-bottom: 0.5px solid #dddddd;
  position: relative;
}
#header-container .wrapper .alarm-box > div:nth-last-child(1) {
  border-bottom: 0 !important;
}
#header-container .wrapper .alarm-box .new {
  padding: 1.5px 8px;
  font-weight: 500;
  font-size: 8px;
  line-height: 17px;
  color: #ffffff;
  background: #FFDE2F;
  border-radius: 3px;
  display: inline-flex;
  width: auto;
  margin-left: 10px;
  align-items: center;
}
#header-container .wrapper .alarm-box .date {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #bbbbbb;
  bottom: 5px;
  right: 9px;
  position: absolute;
}

#header-container .wrapper .profile {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-position: center !important;
  background-size: contain !important;
  cursor: pointer;
}


/* 알림 */
#header-container .wrapper .profile-box > div:nth-child(1) {
  padding: 35px !important;
}

#header-container .wrapper .profile-box > div {
  padding: 20px 30px !important;
  box-sizing: border-box;
}

#header-container .wrapper .profile-box > div .name {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #333333 !important;
}

#header-container .wrapper .profile-box > div .email {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #777777 !important;
  margin-top: 5px;
}

#header-container .wrapper .profile-box {
  width: 320px !important;
  right: calc(5% + 45px) !important;
}

/* Footer */
#footer-container {
  background: #444444;
  padding: 30px 0;
}
#footer-container .wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
#footer-container .wrapper .logo-wrap {
  width: 185px;
  text-align: left;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #5a5a5a;
  border-right: 0.5px solid #5a5a5a;
}
#footer-container .wrapper .info-wrap {
  padding-left: 50px;
}
#footer-container .wrapper .info-wrap p {
  font-weight: 350;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
#footer-container .wrapper .info-wrap span {
  font-size: 13px;
  font-weight: 500;
  margin: 0 15px;
  position: relative;
  bottom: 2px;
  color: #fff;
}

.modal-background{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: #000;
  opacity: 0.5;
  top: 0;
  right: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



