/* 로그인 */
#login{
    padding: 124px 0 186px;
    box-sizing: border-box;
}
.login-box{
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #5757FF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    padding: 50px 40px;
    box-sizing: border-box;
    width: 410px;
    margin: 0 auto;
}
.login-box .title{
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #333333;
    text-align: center;
    margin-bottom: 40px;
}
.login-box .title strong{
    color: #5757FF;
}
.login-box .userid,
.login-box .password{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    padding: 15px 12px;
    box-sizing: border-box;
    color: #333333;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.01em;
    width: 100%;
    margin-bottom: 5px;
}
.login-box .userid:focus,
.login-box .password:focus{
    border: 1px solid #5757FF;
}
.login-box .userid::placeholder,
.login-box .password::placeholder{
    color: #BBBBBB;;
}
.login-box .option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.login-box .option label,
.login-box .option a{
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #666666;
}
.login-box .option input{
    width: 14px;
    height: 14px;
    border: 0.5px solid #999999;
    border-radius: 3px;
    vertical-align: sub;
}
.login-box .submit{
    background: #5757FF;
    border-radius: 7px;
    width: 260px;
    margin: 0 auto 5px;
    border: 0;
    outline: none;
    cursor: pointer;
    display: block;
    color: #fff;
    padding: 11px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
}
.login-box .register{
    background: #fff;
    border-radius: 7px;
    width: 260px;
    margin: 0 auto;
    border: 1px solid #5757FF;
    outline: none;
    cursor: pointer;
    display: block;
    color: #555;
    padding: 11px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-align: center;
}


/* 회원가입 */
#register{
    padding: 85px 0 67px;
    width: 1200px;
    margin: 0 auto;
}
#register .page-title{
    font-weight: 700;
    font-size: 34px;
    line-height: 49px;
    color: #333333;
    margin-bottom: 69px;
}
#register .agreement-box{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 12px
}
#register .agreement-box .top{
    padding: 20px 50px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #DDDDDD
}
#register .agreement-box .top label{
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    color: #333333;
    cursor: pointer;
}
#register .agreement-box .bottom{
    padding:25px 50px;
    box-sizing: border-box;
}
#register .agreement-box .bottom .line{
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
}
#register .agreement-box .bottom .line label{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    color: #333333;
    cursor: pointer;
}
#register .agreement-box .bottom .line label .red{
    color: #FF4337;
}
#register .agreement-box .bottom .line .more{
    float: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #999999;
    cursor: pointer;
}
#register .agreement-box .bottom .line .detail{
    padding: 15px;
    box-sizing: border-box;
    background: #f2f2f2;
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 15px;
    overflow-y: scroll;
    display: none;
}
#register .agreement-box .bottom .line .detail.open{
    display: block;
    height: 200px;
}

#register .agreement-box input[type=checkbox]{
    width: 14px;
    height: 14px;
    margin-right: 10px;
}
#register .register-box{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    padding: 70px 50px;
    box-sizing: border-box;
    margin-top: 30px;
}
#register .register-box .line{
    display: flex;
    margin-bottom: 34px;
    align-items: center;
}
#register .register-box .line:nth-last-child(1){
    margin-bottom: 0;
}
#register .register-box .line .label{
    display: inline-block;
    width: 150px;
    margin-right: 56px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    /* identical to box height */
    color: #333333;
    position: relative;
}
#register .register-box .line .label .req{
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #5757FF;
}
#register .register-box .line .label .sel{
    color: #999999;
}
#register .register-box .line input[type=text],
#register .register-box .line input[type=password],
#register .register-box .line input[type=email]{
    width: 600px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    padding: 11px 15px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
}
#register .register-box .line input[type=text]::placeholder{
    color: #B3B3B3;
}
#register .register-box .line .input-wrap{
    position: relative;
}
#register .register-box .line .confirm{
    width: 24px;
    height: 24px;
    position: absolute;
    top: calc(50% - 12px);
    right: 20px;
}
#register .register-box .line .cert-btn{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
    padding: 15px 29px;
    box-sizing: border-box;
    background: #EEEEEE;
    border-radius: 7px;
    margin-left: 15px;
}
#register .register-box .tip{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FF4337;
    margin-top: -29px;
    padding-left: 205px;
    margin-bottom: 25px;
}
#register .register-box hr{
    /*border-top: 1px solid #DDDDDD;*/
    background: #ddd;
    width: 100%;
    height: 1px;
    border: none;
    margin: 70px 0;
}
#register .register-box .select-container{
    position: relative;
    width: 600px;
}
#register .register-box .select-container .select-box{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    padding: 11px 15px;
    box-sizing: border-box;
    width: 100%;
    min-height: 56px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    position: relative;
    cursor: pointer;
}
#register .register-box .select-container .select-box .icn{
    position: absolute;
    right: 20px;
    color: #A7A7A7;
}
#register .register-box .select-container .select-box .icn:before{
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
#register .register-box .select-container .select-list{
    position: absolute;
    left: 0;
    top: 56px;
    background: #FFFFFF;
    border: 0.5px solid #DDDDDD;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    width: 600px;
    overflow: hidden;
    display: none;
}
#register .register-box .select-container .select-list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #555555;
    padding: 18px 30px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #DDDDDD;
}
#register .register-box .select-container .select-list p:nth-last-child(1){
    border-bottom: none;
}
#register .submit{
    background: #5757FF;
    border-radius: 7px;
    padding: 11px 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin: 70px auto 0;
    width: 410px;
    cursor: pointer;
}


/*  마이페이지  */
#mypage{
    display: flex;
}
#mypage .mypage-nav-container{
    width: 200px;
}
#mypage .mypage-nav-container .nav-wrap{
    text-align: left;
    padding: 17px 35px;
    box-sizing: border-box;

}
#mypage .mypage-nav-container .nav-wrap.active{
    background: #F5F5F5;
}
#mypage .mypage-nav-container .nav-wrap a{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: -0.01em;
    color: #555555;
}
#mypage .content-container{
    width: calc(100% - 200px);
    border-left: 0.5px solid #DDDDDD;
}
#mypage .content-container .mypage-top{
    background: #F5F5F5;
    text-align: right;
    padding: 17.5px 100px;
    box-sizing: border-box;
    margin-bottom: 40px;
}
#mypage .content-container .mypage-top .point{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #333333;
    vertical-align: middle;
}
#mypage .content-container .mypage-top .charge{
    border: 0.5px solid #333333;
    border-radius: 16px;
    padding: 7px 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: -0.01em;
    color: #333333;
    margin-left: 20px;
}
#mypage .content-container .mypage-content{
    padding: 0 50px;
}
#mypage .content-container .page-title-lg{
    font-weight: 300;
    font-size: 40px;
    line-height: 58px;
    /* identical to box height */
    letter-spacing: -0.01em;
    color: #333333;
    margin-bottom: 15px;
}
#mypage .content-container .filter-wrap{
    margin-bottom: 50px;
}
#mypage .content-container .filter-wrap .filter{
    border-radius: 22.5px;
    border: 0.5px solid #DDDDDD;
    padding: 8px 30px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #333333;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
#mypage .content-container .filter-wrap .filter.active{
    background: #FFDE2F;
    border: 0.5px solid #FFDE2F;
}
#mypage .content-container .filter-wrap .setting{
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: #777777;
    margin-left: 20px;
    cursor: pointer;
}
#mypage .content-container .ad-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 80px;
}
#mypage .content-container .ad-container .add-new{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5757FF;
    border-radius: 10px;
    width: calc(33% - 20px);
    margin-bottom: 7px;
    cursor: pointer;
}
#mypage .content-container .ad-container .add-new .wrap{
    text-align: center;
    color: #fff;
}
#mypage .content-container .ad-container .add-new .wrap i{
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}
#mypage .content-container .ad-container .add-new .wrap p{
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
#mypage .content-container .ad-container .item{
    width: calc(33% - 20px);
    border-radius: 10px;
    border: 0.5px solid #CCCCCC;
    margin-bottom: 7px;
    cursor: pointer;
}
#mypage .content-container .ad-container .item .title{
    padding: 14px 20px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
    border-bottom: 0.5px solid #CCCCCC;

}
#mypage .content-container .ad-container .item .desc{
    padding: 15px 20px 10px;
    box-sizing: border-box;
}
#mypage .content-container .ad-container .item .val{
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #777777;
}
#mypage .content-container .ad-container .item .result-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
#mypage .content-container .ad-container .item .result-wrap .wrap .label{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
}
#mypage .content-container .ad-container .item .result-wrap .wrap .result{
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #5757FF;
}
#mypage .content-container .ad-container .item .bottom-wrap{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
#mypage .content-container .ad-container .item .bottom-wrap .date{
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #BBBBBB;
}
#mypage .content-container .ad-container .item .bottom-wrap .status{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}
#mypage .content-container .ad-container .item .bottom-wrap .status.ready{
    color: #777777;
}
#mypage .content-container .ad-container .item .bottom-wrap .status.show{
    color: #4FD173;
}
#mypage .content-container .ad-container .item .bottom-wrap .status.stop{
    color: #FF463A;
}

/* 마이페이지 - 포인트 충전 */
#mypage .content-container .point-charge-container{

}
#mypage .content-container .point-charge-container .title{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #5757FF;
}
#mypage .content-container .point-charge-container .point{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
    margin-bottom: 50px;
}
#mypage .content-container .point-charge-container .point strong{
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    color: #333333;
    margin-right: 8px;
}
#mypage .content-container .point-charge-container .txt{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #555555;
    margin-bottom: 40px;
}
#mypage .content-container .point-charge-container .account{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #333333;
}
#mypage .content-container .point-charge-container .bottom-wrap{
    margin-top: 113px;
    margin-bottom: 118px;
}
#mypage .content-container .point-charge-container .bottom-wrap img{
    width: 180px;
    vertical-align: middle;
}
#mypage .content-container .point-charge-container .bottom-wrap .account-setting{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.01em;
    text-decoration-line: underline;
    color: #555555;
    margin-left: 30px;
}

/* 마이페이지 계정정보 / 세금계산서 정보 */
#mypage .content-container .mypage-setting-container{
    padding: 37px 43px 67px;
    box-sizing: border-box;
    max-width: 960px;
}
#mypage .content-container .mypage-setting-container .page-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: -0.01em;
    color: #333333;
}
#mypage .content-container .mypage-setting-container .submit{
    float: right;
    background: #5757FF;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 23px;
    width: 110px;
    text-align: center;
    box-sizing: border-box;
}
#mypage .content-container .mypage-setting-container .menu-wrap{
    margin-top: 7px;
}
#mypage .content-container .mypage-setting-container .menu-wrap .menu{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: -0.01em;
    color: #555555;
}
#mypage .content-container .mypage-setting-container .menu-wrap .menu:nth-child(1){
    margin-right: 50px;
}
#mypage .content-container .mypage-setting-container .menu-wrap .menu.active{
    text-decoration-line: underline;
    font-weight: 700;
    color: #5757FF;
}
#mypage .content-container .mypage-setting-container .modify-box{
    background: #FFFFFF;
    border: 0.5px solid #CCCCCC;
    border-radius: 12px;
    padding: 50px 77px;
    box-sizing: border-box;
    margin-top: 45px;
}
#mypage .content-container .mypage-setting-container .modify-box .line{
    display: flex;
    margin-bottom: 42px;
    align-items: center;
    position: relative;
}
#mypage .content-container .mypage-setting-container .modify-box .line .label{
    width: 215px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}
#mypage .content-container .mypage-setting-container .modify-box .line .required{
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #5757FF;
    vertical-align: middle;
}
#mypage .content-container .mypage-setting-container .modify-box .line input[type=text],
#mypage .content-container .mypage-setting-container .modify-box .line input[type=email]{
    width: calc(100% - 215px);
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    padding: 11px 15px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}
#mypage .content-container .mypage-setting-container .modify-box .line input[type=file]{
    visibility: hidden;
    width: 0;
}
#mypage .content-container .mypage-setting-container .modify-box .line .sel{
    color: #999999;
}
#mypage .content-container .mypage-setting-container .modify-box .line .select-container{
    width: calc(100% - 215px);
}
#mypage .content-container .mypage-setting-container .modify-box .line .select-container .select-box{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    padding: 11px 15px;
    box-sizing: border-box;
    width: 100%;
    min-height: 56px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    position: relative;
    cursor: pointer;
}
#mypage .content-container .mypage-setting-container .modify-box .line .icn{
    position: absolute;
    right: 20px;
    color: #A7A7A7;
}
#mypage .content-container .mypage-setting-container .modify-box .line .icn:before{
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
#mypage .content-container .mypage-setting-container .modify-box .line .select-container .select-list{
    position: absolute;
    left: 0;
    top: 56px;
    background: #FFFFFF;
    border: 0.5px solid #DDDDDD;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    width: 600px;
    overflow: hidden;
    display: none;
}
#mypage .content-container .mypage-setting-container .modify-box .line .select-container .select-list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #555555;
    padding: 18px 30px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #DDDDDD;
}
#mypage .content-container .mypage-setting-container .modify-box .line .select-container .select-list p:nth-last-child(1){
    border-bottom: none;
}
#mypage .content-container .mypage-setting-container .modify-box .line .select-container .select-box{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    padding: 11px 15px;
    box-sizing: border-box;
    width: 100%;
    min-height: 56px;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    position: relative;
    cursor: pointer;
}
#mypage .content-container .mypage-setting-container .modify-box .line .select-container .select-list{
    position: absolute;
    left: 0;
    top: 56px;
    background: #FFFFFF;
    border: 0.5px solid #DDDDDD;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    width: 600px;
    overflow: hidden;
    display: none;
}
#mypage .content-container .mypage-setting-container .modify-box .line .select-container .select-list p{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #555555;
    padding: 18px 30px;
    box-sizing: border-box;
    border-bottom: 0.5px solid #DDDDDD;
}
#mypage .content-container .mypage-setting-container .modify-box .line .select-container .select-list p:nth-last-child(1){
    border-bottom: none;
}
#mypage .content-container .mypage-setting-container .modify-box .line .file-name{
    width: calc(100% - 215px);
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 7px;
    padding: 11px 15px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}
#mypage .content-container .mypage-setting-container .modify-box .line .upload{
    background: #9B9B9B;
    border-radius: 7px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    padding: 6px 17px;
    position: absolute;
    right: 15px;
    top: 8px;
    cursor: pointer;
}
